body {
  overflow-x: hidden;
  overflow-y: auto;
}

.archiYhLinkSpan {
  color: rgb(0, 0, 0);
  font-size: 6rem;
  margin-left: 1rem;
}
.archiDotLinkSpan {
  color: rgb(0, 0, 0);
  font-size: 6rem;
  margin-left: 1rem;
}
.archiArchiLinkSpan {
  color: rgb(224, 19, 19);
  font-size: 6rem;
  margin-left: 1rem;
}

.middleContents {
  height: auto;
}

.initPosition {
  display: flex;
  flex-direction: column;
}

.archiLogo {
  height: 8rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  /* flex: 1; */
}

/* .midLogo {
  flex: 1;
}

.bottomLogo {
  flex: 1;
} */



.divideArchipage {
  display: flex;
  flex-direction: column;
}