.profileLogo {
  height: 8rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  /* background-color: teal; */
  /* display: flex;
  flex-direction: row; */
  /* text-align: left; */
}

.middleContentsProfile {
  margin-top: 2rem;
  display: flex;
}

.middleContentsProfile > div {
  flex: 1;
}

.centerPosition {
  display: flex;
  flex-direction: column;
}

.selfiePic {
  width: 30rem;
  object-fit: cover;
}

.profileYhLink {
  height: auto;
}

.profileYhLinkSpan {
  color: rgb(45, 149, 247);
  font-size: 6rem;
  margin-left: 1rem;
}
.profileDotLinkSpan {
  color: rgb(0, 0, 0);
  font-size: 6rem;
  margin-left: 1rem;
}
.profileArchiLinkSpan {
  color: rgb(0, 0, 0);
  font-size: 6rem;
  margin-left: 1rem;
}